# Pandas
Read "10 minutes to Pandas": https://pandas.pydata.org/docs/user_guide/10min.html before solving the exercises.
We will use the data set "cars_data" in the exercises below.

In [29]:
# Importing Pandas. 
import pandas as pd

### Explain what a CSV file is.

In [30]:
# En CSV-fil är ett enkelt och mångsidigt format för att lagra tabulära data i vanlig text, 
# separerade med kommatecken. 
# Det är lätt att använda, brett stödd och idealiskt för platta datastrukturer, 
# men har begränsningar när det gäller att hantera mer komplexa eller hierarkiska data.

### Load the data set "cars_data" through Pandas.

In [31]:
# When reading in the data, either you have the data file in the same folder as your python script
# or in a seperate folder.

# Code below can be ran if you have the data file in the same folder as the script
# cars = pd.read_csv("cars_data.csv")

# Code below can be ran if you have the data file in another script. 
# Notice, you must change the path according to where you have the data in your computer. 
# pd.read_csv(r'C:\Users\Antonio Prgomet\Documents\03_nbi_yh\korta_yh_kurser\python_för_ai\kunskapskontroll_1\cars_data.csv')

import pandas as pd
cars = pd.read_csv("cars_data.csv")

### Print the first 10 rows of the data.

In [32]:
import pandas as pd

# Reading in the data
cars = pd.read_csv("cars_data.csv")

# Print the first 10 rows of the data
print(cars.head(10))

   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc
5      5         audi        sedan        99.8   177.3         ohc
6      6         audi        wagon       105.8   192.7         ohc
7      9          bmw        sedan       101.2   176.8         ohc
8     10          bmw        sedan       101.2   176.8         ohc
9     11          bmw        sedan       101.2   176.8         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0
5             five         110               19  15250.0
6             five         110               19  18920.0
7             four         101               23  16430.0
8             four         101               23  16925.0
9              six         121               21  20970.0

### Print the last 5 rows.

In [33]:
import pandas as pd

# Reading in the data
cars = pd.read_csv("cars_data.csv")

# Print the last 5 rows of the data
print(cars.tail(5))

    index     company body-style  wheel-base  length engine-type  \
56     81  volkswagen      sedan        97.3   171.7         ohc
57     82  volkswagen      sedan        97.3   171.7         ohc
58     86  volkswagen      sedan        97.3   171.7         ohc
59     87       volvo      sedan       104.3   188.8         ohc
60     88       volvo      wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0
60             four         114               23  13415.0

### By using the info method, check how many non-null rows each column have.

In [34]:
import pandas as pd

# Reading in the data
cars = pd.read_csv("cars_data.csv")

# How many non-null values are in each column?
print(cars.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             61 non-null     int64
 1   company           61 non-null     object
 2   body-style        61 non-null     object
 3   wheel-base        61 non-null     float64
 4   length            61 non-null     float64
 5   engine-type       61 non-null     object
 6   num-of-cylinders  61 non-null     object
 7   horsepower        61 non-null     int64
 8   average-mileage   61 non-null     int64
 9   price             58 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 4.9+ KB
None

### If any column has a missing value, drop the entire row. Notice, the operation should be inplace meaning you change the dataframe itself.

In [35]:
import pandas as pd

# Reading in the data
cars = pd.read_csv("cars_data.csv")

# Drop rows with missing values
cars.dropna(inplace=True)

# Verify that the rows with missing values have been removed
print(cars.info())
print(cars.head(10))

<class 'pandas.core.frame.DataFrame'>
Index: 58 entries, 0 to 60
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             58 non-null     int64
 1   company           58 non-null     object
 2   body-style        58 non-null     object
 3   wheel-base        58 non-null     float64
 4   length            58 non-null     float64
 5   engine-type       58 non-null     object
 6   num-of-cylinders  58 non-null     object
 7   horsepower        58 non-null     int64
 8   average-mileage   58 non-null     int64
 9   price             58 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 5.0+ KB
None
   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc
5      5         audi        sedan        99.8   177.3         ohc
6      6         audi        wagon       105.8   192.7         ohc
7      9          bmw        sedan       101.2   176.8         ohc
8     10          bmw        sedan       101.2   176.8         ohc
9     11          bmw        sedan       101.2   176.8         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0
5             five         110               19  15250.0
6             five         110               19  18920.0
7             four         101               23  16430.0
8             four         101               23  16925.0
9              six         121               21  20970.0

### Calculate the mean of each numeric column.

In [36]:
import pandas as pd

# Reading in the data
cars = pd.read_csv("cars_data.csv")

# Select only the numeric columns
numeric_columns = cars.select_dtypes(include=['number'])

# Calculate the mean of each numeric column
numeric_means = numeric_columns.mean()

# Print the result
print("Mean values of each numeric column:")
print(numeric_means)

Mean values of each numeric column:
index                 40.885246
wheel-base            98.481967
length               173.098361
horsepower           107.852459
average-mileage       25.803279
price              15387.000000
dtype: float64

### Select the rows where the column "company" is equal to 'honda'.

In [37]:
honda_cars = cars[cars['company'] == 'honda']
print(honda_cars)

    index company body-style  wheel-base  length engine-type num-of-cylinders  \
18     27   honda      wagon        96.5   157.1         ohc             four
19     28   honda      sedan        96.5   175.4         ohc             four
20     29   honda      sedan        96.5   169.1         ohc             four

    horsepower  average-mileage    price
18          76               30   7295.0
19         101               24  12945.0
20         100               25  10345.0

### Sort the data set by price in descending order. This should *not* be an inplace operation.

In [38]:
sorted_cars = cars.sort_values(by='price', ascending=False)
print(sorted_cars)

    index        company   body-style  wheel-base  length engine-type  \
35     47  mercedes-benz      hardtop       112.0   199.2        ohcv
11     14            bmw        sedan       103.5   193.8         ohc
34     46  mercedes-benz        sedan       120.9   208.1        ohcv
46     62        porsche  convertible        89.5   168.9        ohcf
12     15            bmw        sedan       110.0   197.0         ohc
..    ...            ...          ...         ...     ...         ...
27     36          mazda    hatchback        93.1   159.1         ohc
13     16      chevrolet    hatchback        88.4   141.1           l
22     31          isuzu        sedan        94.5   155.9         ohc
23     32          isuzu        sedan        94.5   155.9         ohc
47     63        porsche    hatchback        98.4   175.7       dohcv

   num-of-cylinders  horsepower  average-mileage    price
35            eight         184               14  45400.0
11              six         182               16  41315.0
34            eight         184               14  40960.0
46              six         207               17  37028.0
12              six         182               15  36880.0
..              ...         ...              ...      ...
27             four          68               30   5195.0
13            three          48               47   5151.0
22             four          70               38      NaN
23             four          70               38      NaN
47            eight         288               17      NaN

[61 rows x 10 columns]

### Select the rows where the column "company" is equal to any of the values (audi, bmw, porsche).

In [39]:
selected_companies = cars[cars['company'].isin(['audi', 'bmw', 'porsche'])]
print(selected_companies)

    index  company   body-style  wheel-base  length engine-type  \
3       3     audi        sedan        99.8   176.6         ohc
4       4     audi        sedan        99.4   176.6         ohc
5       5     audi        sedan        99.8   177.3         ohc
6       6     audi        wagon       105.8   192.7         ohc
7       9      bmw        sedan       101.2   176.8         ohc
8      10      bmw        sedan       101.2   176.8         ohc
9      11      bmw        sedan       101.2   176.8         ohc
10     13      bmw        sedan       103.5   189.0         ohc
11     14      bmw        sedan       103.5   193.8         ohc
12     15      bmw        sedan       110.0   197.0         ohc
45     61  porsche      hardtop        89.5   168.9        ohcf
46     62  porsche  convertible        89.5   168.9        ohcf
47     63  porsche    hatchback        98.4   175.7       dohcv

   num-of-cylinders  horsepower  average-mileage    price
3              four         102               24  13950.0
4              five         115               18  17450.0
5              five         110               19  15250.0
6              five         110               19  18920.0
7              four         101               23  16430.0
8              four         101               23  16925.0
9               six         121               21  20970.0
10              six         182               16  30760.0
11              six         182               16  41315.0
12              six         182               15  36880.0
45              six         207               17  34028.0
46              six         207               17  37028.0
47            eight         288               17      NaN

### Find the number of cars (rows) for each company.

In [40]:
car_counts = cars.groupby('company').size()
print(car_counts)

company
alfa-romero      3
audi             4
bmw              6
chevrolet        3
dodge            2
honda            3
isuzu            3
jaguar           3
mazda            5
mercedes-benz    4
mitsubishi       4
nissan           5
porsche          3
toyota           7
volkswagen       4
volvo            2
dtype: int64

### Find the maximum price for each company.

In [41]:
max_price_per_company = cars.groupby('company')['price'].max()
print(max_price_per_company)

company
alfa-romero      16500.0
audi             18920.0
bmw              41315.0
chevrolet         6575.0
dodge             6377.0
honda            12945.0
isuzu             6785.0
jaguar           36000.0
mazda            18344.0
mercedes-benz    45400.0
mitsubishi        8189.0
nissan           13499.0
porsche          37028.0
toyota           15750.0
volkswagen        9995.0
volvo            13415.0
Name: price, dtype: float64